@import "../../styles/colors.scss";

.upload-container {
  margin-top: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  .info-header {
    width: 100%;
    margin-bottom: 20px;
  }
}
